body {
    font-family: "Roboto", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif !important;
    color: var(--text-secundary-color);
}

th {
    font-weight: 500 !important;
}

.col, .col-auto {
    margin-bottom: 1.5rem;
}

.MuiInputBase-input {
    padding-top: 13px !important;
}

.btn-primary {
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover);
    border-color: var(--btn-primary-bg-hover);
    color: var(--btn-primary-color-hover);
}
